.logoPanel { margin: 8px 0 0; width: 15%;}
.navigation {margin-right:0px;margin-left: 0;}
.mobWhatsappIcon .mobDisplayNone { display:none;}
.mobWhatsappIcon img {width: 125px;height: auto;}
.mobWhatsappIcon {padding-top: 1px;width: 130px;}
.footer-panel .row img.lazyloaded.float-Disabled {  background: #262626; padding: 7px 10px;}

#quick-facts {background: #fff !important;margin: 20px 0 30px !important;padding: 0 !important;}
#quick-facts .column-three {width:14%;}
#quick-facts .column-three img { margin:0;width: auto; max-width:100%;}
#quick-facts .column-seven { width: 80%; float:right;padding: 0;margin: 0;}
#quick-facts .wrap.borderFromAll.paddingAllExtra {border-radius: 5px;}
#quick-facts ul li { position:relative; list-style:none;padding:5px 0;}
#quick-facts ul li::before{content:"";background:url(<?= $dynamicDomian ?>images/checkarrow.webp) center no-repeat;width:15px;height:15px;position:absolute;left: -20px;
top: 8px;background-size: contain;}
.quick-facksmain ul { line-height:normal!important;}


.requireddoc ul li { position:relative; list-style:inside;padding:5px 0; width:100%;}
.requireddoc ul li::before{content:"";background:url(<?= $dynamicDomian ?>images/checkarrow.webp) center no-repeat;width:15px;height:15px;position:absolute;left: -20px;
top: 8px;background-size: contain; display:none;}
.requireddoc ul { line-height:normal!important;padding-left: 0px;}




#things-to-be-done { padding: 0 !important;}
#things-to-be-done .blueBG.gapping { padding: 10px 0 !important;}
#things-to-be-done .column-three { width:20%;}
#things-to-be-done .column-three img {width: auto!important; max-width: 100%!important;margin: 0!important;}
#things-to-be-done .column-seven { width:75%; float:right;}


#things-to-be-done .blueBG.gapping {  padding: 10px 0!important;}
#things-to-be-done ul li { position:relative; list-style:none;padding:5px 0;}
#things-to-be-done ul li::before{content:"";background:url(<?= $dynamicDomian ?>images/checkarrow.webp) center no-repeat;width:15px;height:15px;position:absolute;left: -20px;top:8px;background-size: contain;}
#facts-and-figures { padding: 0!Important;}


#travel-guide { padding: 10px 0!important; padding-bottom: 10px!important;}
#travel-guide ul {}
#travel-guide ul li { position:relative; list-style:none;padding:5px 0;}
#travel-guide ul li::before{content:"";background:url(<?= $dynamicDomian ?>images/checkarrow.webp) center no-repeat;width:15px;height:15px;position:absolute;left: -20px;
top:8px;background-size: contain;}


#testimonials { padding: 0;}
#testimonials .wrap {display:inherit}
.testimonial-section {border: solid 1px #e1e1e1;padding: 15px;border-radius: 6px;}

#testimonials .testibox { margin: 10px 1.5% 10px!important;}

#contact { padding: 14px 0 !important;
border: 1px solid #ddd;
margin: 50px 0 0;}
#contact .wrap.alignLeft.label {border-radius: 6px!important;}

.footerLogo .circle {padding: 0;position: relative;}
.footerLogo .circle img {transform: translate(-50%,-50%);position: absolute;left: 50%;top: 50%;max-width: 100%;}

.socialcontact {background: none;border-radius: 0;padding: 0;margin: 0;border: none !important;}
.socialcontact .socialcontactrow {  float:left; border:none!important; width:33.33%;}
.socialcontact .socialcontactrow:nth-child(2) { display:none!important;}
.socialcontact .socialcontactrow:nth-child(3) .column-two {width: 70% !important;}
.socialcontact .column-six{ float:left!important;font-size: 20px;font-weight: 600;margin:1px 0 0;}
.socialcontact .column-two { width:auto!important; float:left!important;font-size: 20px;font-weight: 600;margin:1px 0 0;}
.socialcontact .column-five { width:auto!important; float:left!important;font-size: 14px;max-width: 85%;line-height: 24px;}
.socialcontact .column-three  {width: 45px !important;margin-right: 13px;float: left;position: relative;top: 6px;}
.socialcontact .column-three img {width: auto;height: auto;max-width: 100%;}
.socialcontact h3,
.socialcontact .orangetitle { margin-bottom: 15px !important;line-height: normal;font-weight: 600;color: #f69321;}
.footer-panel .white { color:#000!important;}
.footer-panel h5 { color:#000!important;}
.footer-panel .column-six { width:100%!important;}


.font15 { font-size:15px!important}
.font15 p {font-size:15px!important;line-height: 25px;}
.logoPanel { text-align:center;}
.logoPanel img { width:55px; height: auto;max-width: 100%;}
.greenBG { background: #5c3d3d;}
.primary-button { background: #f69321; color: #fff;}
.custom-button { background: #5c3d3d;}
.primary-button:hover,
.custom-button:hover{background: #5c3d3d;}
.blueBG { background: rgba(246, 147, 33,0.2);}
.gradientBG {background: #5c3d3d !important}
.green { color: #000;}

.requireddoc { position: relative; background: #ffe7cb; margin: 30px 0 0; padding: 10px 10px; border-radius: 5px;}
.requireddoc .column-five { width: 25%;}
.requireddoc .column-five span { font-size: 48px; line-height: 36px; color: #5c3d3d; font-weight: bold; margin: 0 8px 15px 0;}



/* Accordion styles */
.tabs {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
}

.tab-new {
  width: 100%;
  color: white;
  overflow: hidden;
}
.tab-label {
  display: flex;
  justify-content: space-between;
  padding: 12px 20px;
  font-size:16px;
  background: #2c3e50;
  font-weight: normal;
  cursor: pointer;
  border-bottom: solid 1px #1571c8;
  /* Icon */
}
.tab-label:hover {
  background: #1a252f;
}
.tab-label::after {
  content: "❯";
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all 0.35s;
}
.tab-content-new {
  max-height: 0;
  padding: 0 1em;
  color: #2c3e50;
  background: white;
  transition: all 0.35s;
}
.tab-close {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
  font-size: 0.75em;
  background: #2c3e50;
  cursor: pointer;
}
.tab-close:hover {
  background: #1a252f;
}

.tab-new input[type="radio"] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.tab-new input:checked + .tab-label {
  background: #1a252f; font-size:16px;
}
.tab-new input:checked + .tab-label::after {
  transform: rotate(90deg);
}
.tab-new input:checked ~ .tab-content-new {
  max-height: 150vh;
  padding: 1em;
}

/* .gradientBG {
  background:#2180da !important;
}  */

<!---New Css--->

.col-10 {
  width: 10%
}
.col-20 {
  width: 20%
}
.col-25 {
  width: 25%
}


.col-30 {
  width: 30%
}

.col-33 {
  width: 33.33%}


.col-40 {
  width:40%
}
.col-50 {
  width: 50%
}
.col-60 {
  width: 60%
}
.col-70 {
  width: 70%
}
.col-80 {
  width: 80%
}
.col-90 {
  width: 90%
}


a:focus-visible,
button:focus-visible,
select:focus-visible,
input:focus-visible {outline: none; box-shadow:none;}

.ybb { position:relative;}
.ybb::before { content: ""; position: absolute; left: 0px; bottom: -2px; width:75px; background: #FEBF0F; height: 3px;}
.bb{border-bottom:solid 1px #f0f0f0}
.bl{border-left:solid 1px #f0f0f0}
.br{border-right:solid 1px #f0f0f0}
.bt{border-top:solid 1px #f0f0f0}
.ba{border:solid 1px #f0f0f0}
.bra { border-radius:4px;}
.pr { position:relative;}
.w100 { width:100%;}
.dib { display:inline-block;}
.db { display: block !important;}
.dn { display:none!important;}
.wa { width:auto!important}
.mb-5 { margin-bottom:5px!important;}
.mb-10 { margin-bottom:10px!important;}
.mb-15 { margin-bottom:15px!important;}
.mb-20 { margin-bottom:20px!important;}

.mt-5 { margin-top:5px!important;}
.mt-10 { margin-top:10px!important;}
.mt-15 { margin-top:15px!important;}
.mt-20 { margin-top:20px!important;}
.mtn { margin-top:0px!important;}

.ml-5 { margin-left:5px!important;}
.ml-10 { margin-left:10px!important;}
.ml-15 { margin-left:15px!important;}
.ml-20 { margin-left:20px!important;}


.mr-5 { margin-right:5px!important;}
.mr-10 { margin-right:10px!important;}
.mr-15 { margin-right:15px!important;}
.mr-20 { margin-right:20px!important;}


.pa-10 { padding:10px!important;}
.pa-15 { padding:15px!important;}
.pa-20 { padding:20px!important;}
.pa-25 { padding:25px!important;}


.pt-5 { padding-top:5px!important;}
.pt-10 { padding-top:10px!important;}
.pt-15 { padding-top:15px!important;}
.pt-20 { padding-top:20px!important;}

.pb-5 { padding-bottom:5px!important;}
.pb-10 { padding-bottom:10px!important;}
.pb-15 { padding-bottom:15px!important;}
.pb-20 { padding-bottom:20px!important;}


.pl-5 { padding-left:5px!important;}
.pl-10 { padding-left:10px!important;}
.pl-15 { padding-left:15px!important;}
.pl-20 { padding-left:20px!important;}


.pr-5 { padding-right:5px!important;}
.pr-10 { padding-right:10px!important;}
.pr-15 { padding-right:15px!important;}
.pr-20 { padding-right:20px!important;}



.tac { text-align:center;}
.tal { text-align:left;}
.tar { text-align:right;}

.fn { float:none!important;}
.fl { float:left!important;}
.fr { float:right!important;}

.tdu { text-decoration:underline}
.tdn { text-decoration:none}
.cb { color:#000!important;}
.cw { color:#fff!important}
.fw-300 { font-weight:300;}
.fw-400 { font-weight:400;}
.fw-500 { font-weight:500;}
.fw-600 { font-weight:600;}


.stepsection { /*--box-shadow: 0 -3px 8px 0px rgba(0,0,0,.4);--*/ position: relative;}
.steps-col:nth-child(1) { background:#d8f3fe;}
.steps-col:nth-child(2) { background:#e4f7fe;}
.steps-col:nth-child(3) { background:#effaff;}
.steps-col:nth-child(4) { background:#f6fcff;}	
.stepsarrow { position:absolute; right:20px; top:40px;}



/----------------/
.faqhome { padding: 50px 0;/*box-shadow: 0 0px 9px -1px rgba(0,0,0,.2);*/position: relative;}
.faqhome .titlemain {width:100%;float: left; position:relative; padding-left:0px;}
.faqhome .titlemain::before { content: "";position: absolute; left: 0px; top:0px; width:5px; background: #FEBF0F;height:100%; display:none;}

.faqhome .titlemain h2{font-size:24px;font-weight:600;margin: 0 0 15px;line-height: 54px;}
.faqhome .titlemain p {font-size: 15px;line-height: normal;}
.faqhome-section{/*width: 100%;background: #fff;padding:0px 0 50px;margin:0px 0 60px;border-bottom: solid 1px #e8e8e8;*/
width: 100%;background: #fff;padding: 0;margin-bottom: 30px;border-bottom: none;}
.faqhome div.faqcol{position:relative;width:100%;margin-bottom:0px;border-bottom:1px solid #eee;padding:10px 42px 10px 20px}
.faqhome div.faqcol:last-child { border-bottom:none!important; margin:0;}
.faqhome input{position:absolute;left:0;top:0;height:100%;width:100%;opacity:0;visibility:0}
.faqhome h1{background:none;color:#000;padding:6px 0;position:relative;font-size:18px;font-weight:500;width:100%}
.faqhome label::before{height: 12px;width: 12px;content: "";position: absolute;right: -5px;top:0px;transition: .5s all;transform: rotate(45deg);border-right: 2px solid #000;
border-bottom: 2px solid #000;}
.faqhome label{cursor:pointer;position:relative;display:flex;align-items:center}
.faqhome div.p{max-height:0px;overflow:hidden;transition:max-height 0.5s;width:100%}
.faqhome div.p p{padding:0}
.faqhome input:checked ~ h1 label::before{transform: rotate(-135deg);top:0px;}
.faqhome input:checked ~ h1 ~ div.p{max-height:250px}

.faqcolright { width:100%; float:right;border: 1px solid #eee;border-radius: 10px;background: #f9f9f9;}



.customerreviews {
  box-shadow: 0 0px 8px -2px rgba(0,0,0,.4);
  margin:30px 0 0;
  background: #fff;
  border-radius: 8px;
}
.customerreviews ul {
  width: 100%;
  float: left;
  list-style: none;
}
.customerreviews ul li {
  width: 25%;
  text-align: center;
  font-size: 16px;
  padding: 20px 0;
  border-right: solid 1px #eeeded;
}

.customerreviews ul li img {width: auto;max-height:70px;margin-bottom: 10px;}


.testimonial-overflow { overflow:hidden;}
.testimonial-main {overflow: hidden;
align-content: flex-start;
}
.testimonial-section {background:#ffd85a url(<?= $dynamicDomian ?>images/testimonial-bg.png) center center no-repeat; padding:40px 0!important;background-size: cover;}
.testimonial-col {width:350px;float: left;background: #fff;padding: 20px;border-radius: 15px; margin-right:20px;white-space: nowrap;overflow: hidden;position: relative;}
.test-star {background: #01b77c;color: #fff;padding: 5px 10px;border-radius: 25px;}
.test-star a {color: #fff;}
.test-date {color: #c1c1c1;}
.test-text {}
.test-text h4 {font-weight: 500;white-space:normal;}
.test-text p { white-space:normal;}

.sliderbuttons {width: 100%;float: left;position: absolute;transform: translate(-50%,-50%); left: 50%;top:50%;}
.sliderbuttons li.prev {left: -40px; position: relative; list-style: none; border-radius: 100%;background: url(<?= $dynamicDomian ?>images/arrowprevwhite.png) no-repeat; background-position: left center;background-size: contain;width:45px;height:45px; cursor:pointer;background-position: center;background-color: #fff !important;background-size: 8px !important;box-shadow: 2px 2px 15px -8px rgba(0,0,0,0.9);}
.sliderbuttons li.next {right: -40px;position: relative;list-style: none;border-radius: 100%;float: right;background: url(<?= $dynamicDomian ?>images/arrownextwhite.png) no-repeat;width: 45px;height: 45px;cursor: pointer;background-position: center;background-color: #fff!important;background-size: 8px !important;box-shadow: 2px 2px 15px -8px rgba(0,0,0,0.9);}

.sliderbuttons li.next.disable-btn{
pointer-events: none;
background-color: #cacaca !important;
}


.sliderbuttons li.prev.disable-btn{
pointer-events: none;
background-color: #cacaca !important;
}


.addmore-allfields .column-oneThird.col20 {width: 20%!important;}
.addmore-allfields .column-oneThird.col15 {width: 15%!important;}
.addmore-allfields .column-oneThird.col25 {width: 25%!important;}
.addmore-allfields .column-oneThird.col33 {width: 33%!important;}
.addmore-allfields .column-oneThird.col50 {width: 50%!important;}
.formBox {padding: 15px 20px 10px;}
.memberdetaillist { border-radius: 10px; overflow: hidden; border: 1px solid #ccc;}
.memberdetaillist table { border:none;}
.memberdetaillist table td a.editdetail {background: #36A730;color: #fff;padding: 3px 15px;line-height: normal;margin: 0 5px;}
.memberdetaillist table td a.removedetail {background: #EA534D;color: #fff;padding: 3px 15px;line-height: normal;margin: 0 5px;border-radius: 4px;}
.memberdetaillist table td,
.memberdetaillist table th {padding: 7px 20px;}
.memberdetaillist table .editcol1 { width:2%;}
.memberdetaillist table .editcol5 { width:12%;}
.sameas { margin:35px 0 0 0;}
.uaeForm .paddingFromRight { padding-right: 20px;}
.wrap {max-width: 95%;}


.popupPanel {
  background: rgba(255,255,255,0.8);
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  z-index: 10000;
}
.imageDiv {
  width: 32px;
  height: 32px;
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  margin: auto;
}
.error {
  background-color: #FCE3E9!important;
  color: #a94442!important;
  border: solid 1px #9B0000!important;
}
.select2-container .select2-choice {
  padding: 5px 10px;
}
.select2-container .select2-choice > .select2-chosen {
  font-size: 13px;
}
.select2-results .select2-result-label {
  font-size: 11px;
}

.gradientBG {
    color: #fff !important;
    background: #008c91;
    background: -moz-linear-gradient(top,#008c91 0,#007787 30%,#005f89 60%,#003e93 100%);
    background: -webkit-linear-gradient(top,#008c91 0,#007787 30%,#005f89 60%,#003e93 100%);
    background: linear-gradient(to bottom,#008c91 0,#007787 30%,#005f89 60%,#003e93 100%);
}
.content ul li{
  margin: 0 0 0 2%;
}
.testibox{
  position:relative;
  background:#eee;
  border-radius:5px;
  padding:10px;
  width: 30%;
  height:180px;
  margin: 10px 1.5% 20px;
}
.testibox::before{
  content:'"';
  position:absolute;
  border-radius:50%;
  background:#03C;
  height:45px;
  width:45px;	
  font-size:50px;
  color:#fff;
  text-align: center;
  left: 10px;
  top: -20px;
}
.testibox .text{
  padding:20px;
  font-size: 15px;
}
.testibox span{
  float:right;
}
.overSelect {
  position: absolute;
  float: none;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
@media all and (max-width:767px) {

.testibox{
  width: 97%;
}
.mobpaddingtop{
  padding-top:60px;
}
#pageloader
{
  background: rgba( 255, 255, 255, 0.8 );
  display: none;
  height: 100%;
  position: fixed;
  width: 100%;
  z-index: 9999;
}
}

.popup-btn {
  margin: 0px 5px;
  padding: 7px 16px;
  font-size: 14px;
  background: #cc3301;
  background: -moz-linear-gradient(top, #cc3301 0%, #a82001 100%);
  background: -webkit-linear-gradient(top, #cc3301 0%, #a82001 100%);
  background: linear-gradient(to bottom, #cc3301 0%, #a82001 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc3301', endColorstr='#a82001', GradientType=0);
  color: #fff;
  border-radius: 15px;
  border:none;
  box-shadow:none; position:relative; top:-2px;
}



@media (max-width: 1080px){
  
.wrap { width: 1170px; max-width: 95%;}
.navigation-Panel { width: auto;}
.formBox .column-two { width:33%;padding: 0 5px;}
.formBox .column-five {width: 100%; padding:0;}
.formBox .column-five .column-five {width:50%;padding: 0 5px;}
.formBox .column-five .column-five .row .paddingFromLeft {padding: 0 0px;}
.formBox .column-two {padding: 0 5px!important;}
.formBox .column-three {padding: 0 5px!important;}
.formBox .column-five .column-four {  padding: 0 5px !important;}
.formBox .sameascolumn .column-two { width: 50%;}
.formBox .sameascolumn .column-one { width: 100%;padding: 0 5px !important;}
.formBox .sameascolumn .column-three { width: 50%;}
.sameas { margin: 0px 0 10px 0;}

.mobWhatsappIcon { width: auto; padding: 11px 10px 0 0px;}
#testimonials .testibox { margin: 0 0 30px !important; width: 100%;}
.logoPanel{ margin-top:7px!important;}
.navigation { margin-left: 30%;}	
#contact { padding: 14px 10px !important;margin: 0 !important;}

.socialcontact .socialcontactrow { margin:0 0 10px;}
.socialcontact .socialcontactrow a { width:100%;}
.socialcontact .socialcontactrow:nth-child(3) .column-two { width: 100% !important;}
.socialcontact .socialcontactrow:nth-child(2) {width:100%!important;}
.socialcontact .socialcontactrow:nth-child(3) {width:100%!important;}
.socialcontact .socialcontactrow:nth-child(4) {width:100%!important;}
.socialcontact .socialcontactrow:nth-child(5) {width:100%!important;}

.socialcontact { text-align: center;padding: 10px 0;}
.socialcontact .column-six,
.socialcontact .column-two { width:100%!important; float:left!important;font-size: 20px;font-weight: 600;margin:1px 0 0;}
.socialcontact .column-five { width:100%!important; float:left!important;font-size: 14px;max-width:100%;}

.socialcontact .column-three  {width: 45px !important;margin-right: 0px;float: none;position: relative;top: 6px;display: inline-block;}
.logoPanel { width: auto;}
.navigation { margin-left:5%;}
.navigation a {padding: 8px 5px; font-size:12px;}	
.is_gccc_residence { width: 285px !important;padding:0;}
.steps-inner .col-25 { width:50%;}
.faqhome { padding: 30px 0;}
.faqhome .titlemain { width: 100%;margin: 0 0 10px;}
.faqhome .titlemain h2 {font-size: 24px; margin: 0 0 4px; line-height: normal;}
.sliderbuttons { width: 90%;}
.faqcolright { width: 100%;}
.mobWhatsappIcon .paddingFromTop {  padding-top:6px;}
.mobWhatsappIcon img { width: 90px; height: auto;}
.logoPanel img { width: 42px;}
.memberdetaillist table .editcol5 { width: 20%;}
}

@media (max-width: 768px){
   
.navigation a {padding: 8px 5px;}	
.additionalservices { width: 50%;}
.navigation { margin-left: 10px;}
.faqcolright { width: 100%;}

}

@media (max-width: 767px){
.div_total_fee { margin:5px 0;}
#fee_lable { display: none;}
  
.logoPanel {  left: 60px; top:0px; width:auto;max-width: 100%;margin: 0 !important;}
.logoPanel img{width:40px;padding: 0px;max-width: 100%; position: relative;top:7px;}
.navigation-Panel {margin-top: 57px;z-index: 1000; display: none; width: 95%; transform: translate(-50%,2%); left: 50%; top: 0%;border-radius: 5px;background: #573738;}
.navigation a {  background: none;border-bottom: solid 1px #784e4f!important;}
.navigation-Panel::before { left: 10px; top: -19px;border-color: transparent transparent #784e4f;}
.mobWhatsappIcon img { width: 90px; height: auto;}
.footerBG { padding: 13px 0!important;}

.livechatmob { margin:0;}
.mobWhatsappIcon {margin: 2px 0 0 !important;padding:3px 10px 0 0px;}
.label { line-height: 24px;font-size: 14px;}
.form-control-input { padding: 9px 10px;height: 36px;}

#quick-facts { padding: 0 10px !important;}
#quick-facts .column-three { width: 100%; text-align:center;}
#quick-facts .column-three img {display: inline-block;width: 100px;}
#quick-facts .column-seven { width: 100%;}
#quick-facts ul li { font-size: 13px; line-height: normal; margin: 0 0 0 23px;width: 90%;}
#things-to-be-done .blueBG.gapping { padding: 10px 20px !important;}
#things-to-be-done .column-three { text-align:center;width: 100%;}
#things-to-be-done .column-three img { width: 200px !important; margin: 0 !important;display: inline-block;}
#things-to-be-done .column-seven {width: 100%;float: right;}
#travel-guide {padding: 10px 15px !important;}
#travel-guide ul li {margin: 0 0 0 20px;}
#testimonials { padding: 0 20px;}
.testibox .text { padding: 20px 10px; font-size: 14px; line-height: 22px;}
#testimonials .testibox { margin: 10px 1.5% 20px !important; height: auto;}
#testimonials .testibox:last-child {margin: 10px 1.5% 0px !important;}
#contact { padding: 20px 20px !important;}

.titleheading {font-size: 21px!important;}
.titleheading .titlemain {width: auto;height: 20px;}

.socialcontact .socialcontactrow { width: 100% !important;}
.socialcontact .column-two {  font-size: 15px;}
.socialcontact .column-five { width: 78% !important;font-size: 13px;}
.socialcontact .column-three { width: 13% !important;  margin-right: 12px;}
.socialcontact h3 { margin-bottom: 15px !important;  font-size: 18px;}
.skipmob { width:100%;}

.formBox .column-two { width: 100%;padding: 0 5px;}
.formBox .column-five {width: 100%; padding:0;}
.formBox .column-five .column-five {width:100%;padding: 0px!important;}
.font15 { font-size: 13px !important;}
#things-to-be-done ul li::before {top: 8px;}
.font15 p { font-size: 13px !important; line-height: 25px;}
#travel-guide ul li::before {top: 8px;}
.fontTwnty8 { font-size: 20px !important;}

/* Force table to not be like tables anymore */
.tableresponsive table, 
.tableresponsive thead, 
.tableresponsive tbody, 
.tableresponsive th, 
.tableresponsive td, 
.tableresponsive tr { 
display: block; 
}

/* Hide table headers (but not display: none;, for accessibility) */
.tableresponsive thead tr { 
position: absolute;
top: -9999px;
left: -9999px;
}

.tableresponsive tr { border: 1px solid #fff; margin-bottom:10px; border-bottom:1px solid #a7a7a7;}

.tableresponsive td { 
/* Behave  like a "row" */
border: none;
border-bottom: 1px solid #eee; 
position: relative;
padding-left: 50% !important; 
white-space: normal;
text-align: left;
word-break: break-word;
width: auto !important;
}

.Table-panel a { color: #00732F; display: inline-block!important; float: none!important;}

.tableresponsive td:before { 
/* Now like a table header */
position: absolute;
/* Top/left values mimic padding */
top: 7px;
left: 6px;
width: 45%; 
padding-right: 10px; 
white-space: normal;
text-align:left;
font-weight: 500;
word-break: break-all;
}

/*
Label the data
*/
.tableresponsive td:before { content: attr(data-title); }	
.Table-panel { margin: 10px 0 0!important; overflow-x: scroll; width: 100%!important;}

.socialcontact .socialcontactrow { margin:0 0 10px;}
.socialcontact .socialcontactrow a { width:100%;}
.socialcontact .socialcontactrow:nth-child(2) {width:100%!important;}
.socialcontact .socialcontactrow:nth-child(3) {width:100%!important;}
.socialcontact .socialcontactrow:nth-child(4) {width:100%!important;}
.socialcontact .socialcontactrow:nth-child(5) {width:100%!important;}

.socialcontact { text-align: center;}
.socialcontact .column-six,
.socialcontact .column-two { width:100%!important; float:left!important;font-size: 20px;font-weight: 600;margin:1px 0 0;}
.socialcontact .column-five { width:100%!important; float:left!important;font-size: 14px;max-width:100%;}

.socialcontact .column-three  {width: 45px !important;margin-right: 0px;float: none;position: relative;top: 6px;display: inline-block;}

.formtitle { width:205px;font-size: 16px; line-height: 19px; text-align: left;}
.flaguae { width:36px;}
.additionalservices { width: 100%;}
.is_gccc_residence { width:100%!important; padding:0;}

.popup-btn { margin: 0px 5px; padding: 4px 16px; font-size: 12px;position: relative;top: 0px;}

.steps-inner .col-25 { width: 100%;}
.testimonial-section { border: none; padding: 10px 0!important; border-radius: 0px;}
.sliderbuttons { width: 100%;}
.navigation { margin-left: 0px;}
.customerreviews ul li { width: 100%; border-bottom: solid 1px #eeeded; padding: 12px 0;}
.customerreviews ul li img {  max-height: 50px;}

.sliderbuttons li.next{right:0px;}
.sliderbuttons li.prev{ left:0px;}

.body-panel { padding: 70px 0px 0;}
.faqhome label::before {  right: -25px;}

.memberdetaillist {  overflow: auto;  width: 95% !important;  margin-left: 3%;}
.memberdetaillist table { width:800px!important;}
.memberdetaillist table td a.editdetail {  padding: 3px 6px;}
.memberdetaillist table td a.removedetail { padding: 3px 6px; margin: 0 0px;}
.addmore-allfields .column-oneThird.col25 { width: 100% !important;}
.addmore-allfields .column-oneThird.col50 { width: 100% !important;}
.sameas { margin:5px 0 5px 0;}

.formBox .sameascolumn .column-two { width:100%;}
.formBox .sameascolumn .column-three { width:100%;}
.formBox .column-five .column-four { padding: 0 0px !important;}

}
.discount_applied { display: block; margin: 0px 0 0;width: 100%;float: left;color:#000}

.font28{
  font-size: 28px;
    line-height: 34px;
}
del{color: red;
font-weight: bold;
}


.tooltip { float: none;position: relative; display: inline-block; margin-left:5px;}
.tooltip .tooltiptext {visibility: hidden; width:266px; background-color: #000;opacity: .9; color: #fff; border-radius: 6px; padding:10px; text-align: left; font-size: 12px; position: absolute; margin-left: 0; min-height: auto; max-height: none; transform: translate(-50%,-100%);left: 50%;top:0%; z-index: 99;  line-height: 20px;text-transform: none;}
.tooltip:hover .tooltiptext { visibility: visible;}
.tooltip .tooltiptext::after {content: ""; position: absolute; top:100%; left: 50%; border-width: 5px; border-style: solid; border-color:#000 transparent  transparent; transform: translate(-50%,0%);}
.footernew {font-size: 15px; color: #000;font-weight: 400;line-height: 22px;background: #f9f9f9; padding: 40px 0;}
.col-sm-1Third { width: 33.33%;min-height: 1px;}
.paddingInBoxExtra { padding: 20px;}
.brown { color: #000;}
.font20 { font-size: 20px;line-height: 26px;font-weight: 600;}
.marginBottom { margin-bottom: 10px;}
.alignJustify { text-align: justify;}
.custom1-btn { background: #510808; color: #fff;font-family: base-font;}
.footernew .btn, .footernew .btn-sm { border-radius: 5px;border: none;font-family: base-font; margin-bottom: 10px;font-weight: 400;box-sizing: border-box;}
.footernew .btn {padding: 5px 10px;cursor: pointer;font-size: 14px;}
.footernew .links { font-size: 14px; padding: 8px 0;box-sizing: border-box;width: 50%;}
.footernew .links, .footernew .links:hover { color: #000;}
.soicalLinks a { color: #fff; padding: 5px;border-radius: 100%; background: #5c3d3d;margin-left: 7px; width: 24px; line-height: 12px;height: 24px;text-align: center;}
.paddingBottom {  padding-bottom: 10px;}
.floatNone { float: none;}
.marginRight { margin-right: 10px;}
.marginTop { margin-top: 10px;}
.form-control, .form-control-input, .form-control-select, .form-control-sm {margin-bottom: 20px;}



.row.form-choose-option { border: 1px solid #ddd;display: flex;flex-wrap: wrap; margin-top:10px;}
.form-choose-option-col-main { position:relative;}
.form-choose-option-col-main input{position:absolute;left:0;top:0;height:100%;width:100%;opacity:0;visibility:0;cursor: pointer;}
.form-choose-option-col-main input:checked ~ .form-choose-option-col {transition: all 0.3s; background:#079041 url(<?= $dynamicDomian ?>images/checkgreen.png) 10px center no-repeat;background-size: 28px; padding-left: 50px;color: #fff;border: solid 3px #52c469;}
.form-choose-option-col-main input:checked ~ .form-choose-option-col .form-choose-option-col-price del { color:#fff;}
.form-choose-option-left {width: 60%; float: left;padding: 20px 20px;}
.form-choose-option-left h5 { margin-bottom:10px; font-size:18px;}
.row.form-choose-option-col-main { padding: 0; position: relative;}
.form-choose-option-col {padding: 10px 20px 10px 50px; border: solid 3px #2dbb44;border-radius: 15px; cursor:pointer;transition: all 0.3s;background:url(<?= $dynamicDomian ?>images/plusblack.png) 10px center no-repeat;background-size: 28px;}
.feessectionrow { width: 100%;}
.form-choose-option-left.bright.addnone {display: none;}
.form-choose-option-right.feefull { width: 100% !important;}
.form-choose-option-right.feefull .vtable {width: 100% !important;}
.form-choose-option-right.feefull #vtypedetails {width: 100% !important;}
.form-choose-option-right.feefull .feessectionrow { width: 33.333%;}

.form-choose-option-col-name {}
.form-choose-option-col-name p { font-size: 20px;margin: 0 0 4px;}
.form-choose-option-col-name span { width:100%;}
.form-choose-option-col-price { margin-top:8px;}
.form-choose-option-col-price p { font-size: 18px; margin: 0;}
.form-choose-option-right {width: 40%;padding: 20px;}
.form-choose-option-right-total {margin-top: 20px;}
.form-choose-option-right-total p { font-weight: 600; font-size: 17px; margin: 0;}
.form-choose-option-right-total span {}
.formsubmit-buttons {border-top: 1px solid #ddd; padding:10px 0}
.newinsurance{ width:100%;}
.header-menu-overlay {display: none; background: rgba(255,255,255,0.8);position: fixed; top: 0px; left: 0; z-index: 999; width: 100%; bottom: 0px; height: 100%; min-height: 800px;}
.bodyFixed {overflow: hidden;}

@media (max-width: 767px){
.col-sm-1Third { width: 100%; min-height: 1px;}
.tooltip .tooltiptext {width: 200px; padding: 15px;transform: translate(-40%,5%); left: 50%;top: 50%;}
.tooltip .tooltiptext::after { display:none;}
.form-control, .form-control-input, .form-control-select, .form-control-sm { margin-bottom: 10px;}
.form-choose-option-left { width: 100%; border-right: 0px; padding: 5px;}
.formBox { padding: 15px 5px 10px;}
.form-choose-option-col-name p { font-size: 18px;}
.form-choose-option-col-name { width:100%;}
.form-choose-option-col-price {margin-top: 8px;float: left !important;}
.form-choose-option-right { width: 100%; padding: 10px;}
.form-choose-option-right.feefull .feessectionrow { width:100%;}
}

.Sample-btn{
  cursor: pointer;
  display: none;
 
  background: #f69321;
  color: rgb(255, 255, 255);
  border-radius: 7px;
  text-align: center;
  font-size: 20px;
  padding: 20px 10px;
  box-sizing: border-box;
  margin: 30px auto 10px;
  float: none;}
.SamplePopup{ display:none; background:rgba(0,0,0,0.9); margin:0px; width:100%; height:100%; position:fixed; left:0px; right:0px; top:0px; bottom:0px; margin:auto; float:none; z-index:1000;}
.SamplePopup div{ width:420px; position:absolute; height:550px; left:0px; right:0px; top:0px; bottom:0px; margin:auto; float:none; background:#fff; border-radius:5px; padding:10px;}
.SamplePopup div .close-button{ width:30px; height:30px; right:-20px; top:-20px; position:absolute; background:#f00; color:#fff; text-align:center; line-height:25px; border-radius:100%; font-weight:bold; font-size:24px;}

@media (max-width: 767px){
.Sample-btn{ float:left; width:100%;}
.SamplePopup div{width:300px; height:450px;}
.SamplePopup div img{ width:100%; height:100%;}

}
.paymentloader-overlay {width: 100%;height: 100%;position: fixed; left: 0px;top: 0px; right: 0px; bottom: 0px; background: rgba(0,0,0,0.5);transition: all 0.5s;z-index: 99999;}
.paymentloader-pop { position: absolute; transition: all 0.5s; left: 50%; top: 50%; transform: translate(-50%,-50%); width:450px; background: #fff; border-radius: 8px; padding: 0px; max-width: 95%; overflow: auto; padding: 20px; }
.paymentloader-title h2 { font-size:22px;text-align:center; width:100%;}
.paymentloader-wait img {width: 40px; }
.paymentloader-wait p {margin-top: 4px;}
.paymentloader-wait {width: 100%;}

.slideshow {
  width: 100% !important;
  overflow: hidden;
  padding: 0 0px;
}
.slides-new {
  margin: 0; display:flex;
  padding: 0;width: 100%!important;
  list-style-type: none;
}
.slide {
  float: left;
  text-align:center;
  width: 100%!important;
  height: auto !important;
  padding:20px 0;
}
.slide p { width:100%; text-align:center;font-size: 15px;}
.slide img {display: block; width:100%;}
.popup {height: auto!important; position: fixed;  display: block; margin:0;  transform: translate(-50%, -50%); left: 50%; top: 50%; bottom: inherit;}
.form-choose-option-col-main.giftvouchercol { position:relative;}
.form-choose-option-col-main.giftvouchercol .form-choose-option-col {border: solid 1px #52c469;background: url(<?= $dynamicDomian ?>images/plusblack.png) 10px center no-repeat; background-size: 28px;padding-right: 45px;}
.form-choose-option-col-main.giftvouchercol img {width: 20px; position: absolute; right: 14px; top:11px;transform: rotate(-25deg);}
.form-choose-option-col-main.giftvouchercol input:checked ~ .form-choose-option-col { background:#079041 url(<?= $dynamicDomian ?>images/checkgreen.png) 10px center no-repeat;border: solid 1px #52c469;background-size: 28px;}
.form-choose-option-col-main.giftvouchercol input:checked ~ .form-choose-option-col img {filter: brightness(0) invert(1);}
p.addeddiv {width: auto; float: right; margin: 2px 0px 0 10px; font-size:16px;}
.multi-select-button::after {float: right; top: 17px; position: absolute; right: 7px;}
.multi-select-menu {  top: 2em;}
.multi-select-button { position:relative;}
.also_interested {width: 100% !important;float: left; margin: 4px 0 10px; clear: both;}
.multi-select-presets .multi-select-menuitem { padding:10px; display:inline-block;cursor: pointer;}
.multi-select-presets .multi-select-menuitem input[type="radio"]{ display:none;}
.multi-select-menuitems { width:100%;}
.multi-select-container {width: 220px;}
@media (max-width: 767px){
.paymentloader-title h2 { font-size: 16px;}
.mobBorderBottom{ border-bottom: 1px solid #000;}
.form-choose-option-col-main.giftvouchercol {min-width: 100% !important;}
.form-choose-option-col-main.giftvouchercol .form-choose-option-col-name {width:88% !important;}
.form-choose-option-col-main.giftvouchercol .form-choose-option-col-name p {font-size: 14px !important;width: 90%!important;}
p.addeddiv {  float: left;position: absolute;
    right: 6px;
    bottom: 5px;
    margin: 0;
    background: #5cd374;
    padding: 0px 6px;
    font-size: 14px;
    border-radius: 6px;}

  .also_interested {display: block!important; width:100%!important;}
.multi-select-container {width: 170px;}
}

.bright{ border-right:1px solid #ddd}
.discount_message {color: #fff;float: none; padding: 3px 6px; border-radius: 4px; position: relative; top: -4px;background: #2dbb44!important;font-size:14px}
